# {{ ansible_managed }}

mydomain = {{ postfix_conf_mydomain }}
myorigin = {{ postfix_conf_myorigin }}
inet_interfaces = {{ postfix_conf_inet_interfaces | join(', ') }}
mydestination = {{ postfix_conf_mydestination | join(', ') }}
mynetworks = {{ postfix_conf_mynetworks | join(' ') }}
mailbox_size_limit = {{ postfix_conf_mailbox_size }}
message_size_limit = {{ postfix_conf_message_size }}
smtp_bind_address = {{ postfix_conf_bind_address }}
smtp_bind_address6 = {{ postfix_conf_bind_address6 }}
smtpd_banner = $myhostname ESMTP $mail_name (sletner-mail)
biff = no
readme_directory = no
compatibility_level = 2
alias_maps = hash:/etc/aliases
recipient_delimiter = +z

# Outgoing TLS
smtp_tls_security_level = may

# Incoming TLS
smtpd_use_tls=yes
smtpd_tls_security_level = may
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ postfix_conf_myorigin }}/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ postfix_conf_myorigin }}/privkey.pem
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination

# SASL
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth

# Virtual mailboxes
virtual_transport = lmtp:unix:private/dovecot-lmtp
virtual_mailbox_domains = {{ postfix_conf_mailbox_domains | join(', ') }}
virtual_mailbox_maps = hash:{{ postfix_virtual_map_file }}
virtual_alias_maps = hash:{{ postfix_virtual_aliases_file }}

# Restrictions
smtpd_helo_required = yes
smtpd_recipient_restrictions = {{ postfix_conf_smtpd_restrictions | join(', ') }}
